<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/style.css">
<link rel="shortcut icon" href="assets/images/favicon.ico">
</head>
<body>

        <div id="feedback">
                <!-- <h1>Tables</h1>
                <p style="font-size: 22px;">Tables for the selected database </p> -->
                
                <ul style = "list-style-type: none;" id="tablesList">
                </ul>    
        </div>


</body>
</html>