<!DOCTYPE html>
<html>
<head>
    <title>Data Privacy Framework</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/w_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">

    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="/js/script.js"></script>  
    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small" style="position: fixed;top: 0;width: 100%;">
    <div class="w3-bar w3-xlarge w3-white w3-hover-opacity-off" id="myNavbar">
      <div class="logo" style="float:right;width:200;height:300;"><a href="/"><img src="/static/logo.png" alt="" /></a></div> 
      <a href="/index" class="w3-bar-item w3-button" style="padding: 20px;padding-left: 25px;">Home</a>
      <a href="#about" class="w3-bar-item w3-button" style="padding: 20px;">About</a>
    </div>
</div>
<br><br><br><br>

<div class="padding" style="background-color: #f5f5f5;">
    <!-- style="background-color: #f5f5f5;"  -->
    <div id="database-div">
      <h1 >Please choose a database to see table details</h1>

        {% for iname in databases %}
        <div class="container" >
            <tr>
                <label>
                    <input type="radio" name="dbradio" id="iname" value="{{ iname }}"> {{ iname }}
                    <span class="checkmark"></span>
                </label>
            </tr>
        </div>
        {% endfor %}
        <br></br>
        <div class="submit">
            <button class="dbsubmit" onclick="getTables(), clearDB(), goBack()" name= "dbsubmit" style="padding-left: 20px;padding-right: 20px; font-size: 12px; line-height: 25px;">
                Submit
            </button>
        </div>
    </div>

    <!-- Tables display -->
    <!-- <br></br> class="padding" style="background-color: #f5f5f5;"-->
    <div id="data-table" >
        <div style="padding-bottom:0;">
            <button id="backBt" style="padding-left: 15px; padding-right: 20px; font-size: 12px; line-height: 25px; display:none;" onclick="window.location.reload(true)"> < Choose another database</button>
        </div>
        <table id="html-data-table">
        <div class="container" >
            <tr>
                <!-- <th>Table Name</th>
                <th>Table Type</th>  -->
            </tr>
        </div>
        </table>
        <br>
        <div class="submit1" id = "getColumns">
            <button id="getColumnsButton" onclick="getColumns(), clearTables(), goBack()" style="padding-left: 20px;padding-right: 20px; font-size: 12px; line-height: 25px; display: none;">Get Columns</button>
        </div> 
    </div>

    <!-- <br></br>class="padding" -->
    <div>
        <div>
            <button id="backBt" style="padding-left: 15px; padding-right: 20px; font-size: 12px; line-height: 25px; display:none;" onclick="window.location.reload(true)"> << Choose another database</button>
        </div>
        <!-- <div>
            <button id="backBt2" style="padding-left: 15px; padding-right: 20px; font-size: 12px; line-height: 25px; display:none;" onclick="getTables()"> < Choose another column</button>
        </div> -->
        <table id="html-column-data">
        <div class="container" >
            <tr>
                <!-- <th>Table Name</th>
                <th>Table Type</th>  -->
            </tr>
        </div>
        </table>
        <br>
        <div class="submit" id = "getMasking">
            <button id="getMaskingButton" onclick="maskColumn()" style="padding-left: 20px;padding-right: 20px; font-size: 12px; line-height: 25px;display: none;">Mask Column</button>
            <div class="alert" id="response" style="display: none;float: right;"></div>
        </div>
        <br>
    </div>

</div>

</body>
</html>
