<!DOCTYPE html>
<html>
<head>
    <title>Data Privacy Framework</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="/js/script.js"></script>  
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    

    
</head>
<body>
<div class="header">
    <img src="/static/logo.png" alt="logo" />
  <a >Data Privacy Framework</a>
  <div class="header-right">
  </div>
</div>

<div class="padding" id="database-div">
  <!-- <h1>Databases</h1> -->
  <h1 >Please choose a database to see table details</h1>

<div class="padding">
    {% for iname in databases %}
    <div class="container" >
        <tr>
            <label>
                <input type="radio" name="dbradio" id="iname" value="{{ iname }}"> {{ iname }}
                <span class="checkmark"></span>
            </label>
        </tr>
    </div>
    {% endfor %}
    <br></br>
    <div class="submit">
        <button class="dbsubmit" onclick="getTables(), clearDB()" name= "dbsubmit" style="padding-left: 20px;padding-right: 20px; font-size: 12px; line-height: 25px;">
            Submit
        </button>
    </div>
</div>
</div>



<!-- Tables display -->

<!-- <br></br> -->
<div class="padding" id="data-table">
    <table id="html-data-table">
    <div class="container" >
        <tr>
            <!-- <th>Table Name</th>
            <th>Table Type</th>  -->
        </tr>
    </div>
    </table>
    <br></br>
    <div class="submit1" id = "getColumns">
        <button id="getColumnsButton" onclick="getColumns(), clearTables()" style="padding-left: 20px;padding-right: 20px; font-size: 12px; line-height: 25px; display: none;">Get Columns</button>
    </div> 
</div>

<!-- <br></br> -->
<div class="padding">
    <table id="html-column-data">
    <div class="container" >
        <tr>
            <!-- <th>Table Name</th>
            <th>Table Type</th>  -->
        </tr>
    </div>
    </table>
    <br></br>
    <div class="submit" id = "getMasking">
        <button id="getMaskingButton" onclick="maskColumn()" style="padding-left: 20px;padding-right: 20px; font-size: 12px; line-height: 25px;display: none;">Mask Column</button>
    </div> 
    <br></br>

    <p class="padding" id="response"></p>

    <!-- <div class="submit" id = "getJobStatus">
        <button id="getMaskingButton" onclick="getJobStatus()" style="padding-left: 20px;padding-right: 20px; font-size: 12px; line-height: 25px;display: none;">Mask Column</button>
    </div>  -->
</div>
<br></br>


</body>
</html>
